body {
  font-family: "Anton SC", sans-serif;
  font-style: normal;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  font-size: 14px;
  background-color: rgb(232 235 238);
}
a {
  display: block;
  text-decoration: none;
  font-style: normal;
  transition: text-decoration 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.87);
}

p,
h1,
h2,
h3 {
  margin-bottom: 0;
  margin-top: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-container {
  padding: 20px;
  min-width: 275px;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 120px;
}
.header-tittle-after {
  position: relative;
  width: 25px;
  height: 8px;
  border-top: 2px solid black;
  border-right: 2px solid black;
}
.header-tittle-after::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 50%;
  border-bottom: 2px solid black;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.hero-tittle {
  font-size: 100px;

  width: 680px;
  line-height: 80px;
  text-align: center;
}
.tittle-word {
  display: inline-block;
  width: 280px;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 160px;
}

.slogan-wrap-btn {
  box-shadow: inset 3px 3px 1px 2px rgba(212, 210, 212, 0.72),
    inset -1px -1px 1px 2px rgba(250, 249, 250, 0.72);
  width: 180px;
  height: 40px;
  padding: 6px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.slogan-btn-brands,
.slogan-btn-agency {
  width: 80px;
  border: none;
  height: 100%;
  font-size: 12px;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.is-active {
  background-color: black;
  color: white;
  border-radius: 15px;
  box-shadow: 5px 1px 6px -3px rgba(15, 15, 15, 1);
  width: 50%;
}

.slogan-arrow {
  position: relative;
  width: 2px;
  height: 180px;
  background-color: black;
  margin-bottom: 40px;
}

.slogan-arrow::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: black;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.slogan-text {
  width: 70%;
  max-width: 685px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}
.slogan-text:first-of-type {
  font-family: "Anton", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1em;
  margin-bottom: 30px;
}
.slogan-text:last-of-type {
  font-family: "Rubik", sans-serif;
}
.work {
  margin-bottom: 30px;
}
.work-title {
  font-size: 48px;
  margin-bottom: 60px;
}
.wrap-img {
  height: 700px;
  background-color: rgb(184, 189, 188);
  border-radius: 80px;
}
.work-img {
  width: 100%;
  height: 100%;
  border-radius: 80px;
}
.contacts {
  display: flex;
  height: 500px;
  gap: 20px;

  margin-bottom: 120px;
}

.contacts-logo {
  width: 40%;
  background-color: #d9dfe2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  font-weight: 700;
}

.contacts-address {
  background-color: black;
  color: white;
  flex: 1;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
}
.contacts-mail {
  color: white;
  font-size: 24px;
}

.contacts-link {
  color: white;
  font-size: 14px;
}

.contacts-social-media {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.wrap-contacts-text {
  display: flex;
  gap: 20px;
}
.wrap-contacts-text p:last-of-type {
  font-family: "Rubik", sans-serif;
  text-align: end;
  font-weight: 300;
}

.footer-company {
  margin-bottom: 10px;
  text-align: center;
  font-stretch: 150%;
}
.footer-company p {
  width: 100%;
  font-size: 100px;
  display: inline-block;
}

.footer-wrap-link {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
}

.footer-wrap-link a {
  font-size: 14px;
  font-weight: 300;
}
